# Build nəticələri
bin/
obj/
out/


# Mühit dəyişənləri
.env
.env.*
appsettings.json
appsettings.Development.json
secrets.json

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs